<nav>
    <ul>
        <% if (user) { %>
        <li><a href="/auth/logout">Log out</a></li>
        <% if (user.emailPresent && !user.verifiedEmail ) { %>
        <li><a href="/profile/verifyemail">VerifyEmail</a></li>
        <% } %>
        <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
        <li><a href="/auth/forgot">Forgot password</a></li>
        <% } %>
        <li><a href="/">Homepage</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</nav>